<div class="mt-4">
    <form method="POST">

        <div class="mb-3">
            <label for="search-input" class="form-label">Tu khoa</label>
            <input type="text" name = "q" class="form-control" id="search-input" placeholder="Search..."/>
        </div>

        <div class="mb-3">
            <select name = "gender" class="form-control" id="gender-input">
                <option>-- Chon gioi tinh --</option>
                <option value = "male">Male</option>
                <option value = "female" >Female</option>
                
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary">Tim kiem</button>

    </form>
</div>